body {
  font-family: 'Open Sans', serif;
  padding-top: 54px;
  color: #868e96;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Saira Extra Condensed', serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #343a40;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

/** Resume Item Header **/
.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Saira Extra Condensed', serif;
  font-size: 1.35rem;
}
.resume-details:after {
	clear: both;
	content: '';
	display: table; }

.resume-details li {
  float: left;
  font-weight: 400;
  font-size: .75em;
  padding: 0 15px 0 0;
  position: relative;
  text-transform: uppercase; }

  .resume-details li .text-icon {
  	margin-right: 5px; }

/** Resume Item Gallery **/
.gallery-item figure {
  height: 100px;
  overflow: hidden;
	position: relative; 
}
	.gallery-item figure img {
    margin: 0;
	}
	.gallery-item figure figcaption {
		font-size: .75rem;
		font-weight: 400;
		text-transform: uppercase;
		padding: 3px;
		position: absolute;
		bottom: 0; left: 0;
		color: white;
		background: rgba(0,0,0,.25);
		width: 100%;
  }

/** Modal Design **/
.modal-backdrop.show { opacity: 0.85 }

.modal-content {
  background-color: transparent;
  border: 0;
  border-radius: 0;
}
.modal-header {
  padding: 0 1rem;
  border-bottom: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
  .modal-title {
    color: #fff;
    font-size: 2rem;
  }
  .modal-header .close {
    color: #fff;
    opacity: 1;
    text-shadow: none;
  }
  .modal-header .close:focus, 
  .modal-header .close:hover {
    color: #E9B000;
    opacity: 1;
  }
.ekko-lightbox-nav-overlay {
  z-index: 1;
  top: 105%;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: auto;
  height: auto;
}
  .ekko-lightbox-nav-overlay a {
    flex: 0;
    font-size: 20px;
    display: inline;
    opacity: 1;
    transition: none;
  }
  .ekko-lightbox-nav-overlay a:hover {
    color: #E9B000;
  }
  .ekko-lightbox-nav-overlay a span {
    padding: 0 15px
  }

.ekko-lightbox-item img {
  border: 5px solid rgba(233,176,0, 0.5);
  border-radius: .25rem;
}

.modal-footer {
  -webkit-box-pack: normal;
  -ms-flex-pack: normal;
  justify-content: normal;
  padding: 2rem 1rem;
  border-top: 0;
  color: #fff;
  font-style: italic;
}

/** Skills Star System **/
.rating-container {
  padding-bottom: 5px;
}

  .rating-container:after {
    clear: both;
    content: '';
    display: table;
  }

.rating-container .label,
.rating-container .rating {
  float: left;
  width: 50%;
}

.rating-container .rating {
  text-align: right;
}

.rating-container .label {
  font-weight: 300;
  font-size: .875rem;
}

.rating-container .fa-star { color: #dadada; }
.rating-container .fa-star.filled { color: #E9B000 !important; }


/** Social Media Icons **/
.list-social-icons .list-inline-item:not(:last-child) {
    margin-right: 1.5rem;
}

.list-social-icons a {
  color: rgba(0,143,149,.35);
  transition: color 0.5s ease;
}

.list-social-icons a:hover {
  color: rgba(0,143,149,1);
  transition: color 0.5s ease;
}

.list-social-icons a .fa-fw {
  font-size: 1.75rem;
}

.list-icons {
  font-size: 3rem;
}

.list-icons .list-inline-item i:hover {
  color: #BD5D38;
}

#sideNav .navbar-brand h1 {
  color: #fff;
  line-height: 1;
  font-size: 2.5rem;
  margin: 0;
}
#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 600;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

section.resume-section {
  border-bottom: 1px solid #dee2e6;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

.bg-primary {
  background-color: #E24242 !important;
}
.bg-secondary {
  background-color: #E9B000 !important;
}
.bg-tertiary {
  background-color: #008F95 !important;
}
.bg-dark {
  background-color: #232323!important;
}

.text-primary {
  color: #E24242 !important;
}
a.text-primary:focus, 
a.text-primary:hover {
  color: rgb(170, 50, 50) !important;
}
.text-secondary {
  color: #E9B000 !important;
}
.text-tertiary {
  color: #008F95 !important;
}

.badge-primary {
    background-color: #008F95;
}

a {
  color: #E9B000;
}

a:hover, a:focus, a:active {
  color: #783F00;
}
