.darkmode-toggle {
  background: transparent;
  border: 0;
  border-radius: 9999px;
  box-shadow: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--large-font-size);
  height: 35px;
  outline: 0;
  width: 35px;
  transition: var(--transition-duration-minimal) linear;

  &:focus,
  &:focus-visible,
  &:hover {
    background-color: var(--primary-blue);
    color: var(--white);
  }
}
