body {
	font-family: "Open Sans", serif;
	padding-top: 54px;
	color: #868e96;
}

@media (min-width: 992px) {
	body {
		padding-top: 0;
		padding-left: 17rem;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Saira Extra Condensed", serif;
	font-weight: 700;
	text-transform: uppercase;
	color: #343a40;
}

h1 {
	font-size: 6rem;
	line-height: 5.5rem;
}

h2 {
	font-size: 3.5rem;
}

/** Resume Item Header **/
.subheading {
	text-transform: uppercase;
	font-weight: 500;
	font-family: "Saira Extra Condensed", serif;
	font-size: 1.35rem;
}
.resume-details:after {
	clear: both;
	content: "";
	display: table;
}

.resume-details li {
	float: left;
	font-weight: 400;
	font-size: 0.75em;
	padding: 0 15px 0 0;
	position: relative;
	text-transform: uppercase;
}

.resume-details li .text-icon {
	margin-right: 5px;
}

/** Resume Item Gallery **/
.gallery-item figure {
	border: 1px solid #eaeaea;
	overflow: hidden;
	position: relative;
}
.gallery-item figure img {
	margin: 0;
}
.gallery-item figure figcaption {
	font-size: 0.75rem;
	font-weight: 400;
	text-transform: uppercase;
	padding: 3px;
	position: absolute;
	bottom: 0;
	left: 0;
	color: white;
	background: rgba(0, 0, 0, 0.65);
	width: 100%;
}

@media screen and (min-width: 992px) {
	.resume-item-gallery {
		max-width: 1200px;
	}
}

/** Modal Design **/
.modal-backdrop.show {
	opacity: 0.85;
}

.modal-content {
	background-color: transparent;
	border: 0;
	border-radius: 0;
}
.modal-header {
	padding: 0 1rem;
	border-bottom: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.modal-title {
	color: #fff;
	font-size: 2rem;
}
.modal-header .close {
	color: #fff;
	opacity: 1;
	text-shadow: none;
}
.modal-header .close:focus,
.modal-header .close:hover {
	color: #e9b000;
	opacity: 1;
}

.ekko-lightbox-item img {
	border: 5px solid rgba(233, 176, 0, 0.5);
	border-radius: 0.25rem;
}

.modal-footer {
	-webkit-box-pack: normal;
	-ms-flex-pack: normal;
	justify-content: normal;
	padding: 2rem 1rem;
	border-top: 0;
	color: #fff;
	font-style: italic;
}

/** Skills Star System **/
.rating-container {
	padding-bottom: 5px;
}

.rating-container:after {
	clear: both;
	content: "";
	display: table;
}

.rating-container .label,
.rating-container .rating {
	float: left;
	width: 50%;
}

.rating-container .rating {
	text-align: right;
}

.rating-container .label {
	font-weight: 300;
	font-size: 0.875rem;
}

.rating-container .fa-star {
	color: #dadada;
}
.rating-container .fa-star.filled {
	color: #e9b000 !important;
}

section.resume-section {
	border-bottom: 1px solid #dee2e6;
	padding-top: 5rem !important;
	padding-bottom: 5rem !important;
}

section.resume-section .resume-item .resume-date {
	min-width: none;
}

@media (min-width: 768px) {
	section.resume-section {
		min-height: 100vh;
	}
	section.resume-section .resume-item .resume-date {
		min-width: 18rem;
	}
}

@media (min-width: 992px) {
	section.resume-section {
		padding-top: 3rem !important;
		padding-bottom: 3rem !important;
	}
}

.bg-primary {
	background-color: #e24242 !important;
}
.bg-secondary {
	background-color: #e9b000 !important;
}
.bg-tertiary {
	background-color: #008f95 !important;
}
.bg-dark {
	background-color: #232323 !important;
}

.text-primary {
	color: #e24242 !important;
}
a.text-primary:focus,
a.text-primary:hover {
	color: rgb(170, 50, 50) !important;
}
.text-secondary {
	color: #e9b000 !important;
}
a.text-secondary:focus,
a.text-secondary:hover {
	color: rgb(255, 214, 91) !important;
	cursor: pointer;
}
.text-tertiary {
	color: #008f95 !important;
}

.badge-primary {
	background-color: #008f95;
}

a {
	color: #e9b000;
}

a:hover,
a:focus,
a:active {
	color: rgb(255, 214, 91);
}

@media print {
	section.resume-section {
		min-height: 0 !important;
	}
	#about h1 {
		display: block !important;
	}
	.my-auto {
		margin: 0 !important;
	}
}
