.footer {
  background: var(--primary-blue);
  background: linear-gradient(
    178deg,
    var(--white-100) calc(75px),
    var(--primary-blue) calc(77px)
  );
  color: var(--white-100);

  &__container {
    display: grid;
    gap: 2rem 4rem;
    grid-template-columns: 250px repeat(2, 1fr);
    grid-template-areas:
      'header header header'
      'links outro form';
    padding-top: 100px;
  }

  h5 {
    color: var(--primary-yellow);
    margin-bottom: 1rem;
  }

  input,
  textarea {
    &:focus,
    &:focus-visible {
      box-shadow:
        0 0 0 2px var(--primary-blue),
        0 0 0 4px var(--white-100);
    }
  }

  &__outro {
    grid-area: outro;
  }

  &__contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    grid-area: form;

    h5 {
      margin: 0;
    }

    button {
      align-self: flex-end;
    }
  }

  &__links {
    grid-area: links;

    &-list {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    &-link {
      color: var(--white-100);
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: var(--default-font-size);
      outline: 0;
      text-decoration: none;
      text-underline-offset: 2px;

      &:focus,
      &:focus-visible,
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
