@use 'functions';

// Font Sizes
$default-font-size: functions.rem(16px);
$small-font-size: functions.rem(14px);
$smaller-font-size: functions.rem(12px);
$smallest-font-size: functions.rem(10px);
$large-font-size: functions.rem(18px);
$larger-font-size: functions.rem(20px);
$largest-font-size: functions.rem(24px);
$logo-font-size: functions.rem(30px);
$title-font-size: functions.rem(55px);
$heading-1-font-size: functions.rem(48px);
$heading-2-font-size: functions.rem(36px);
$heading-3-font-size: functions.rem(24px);
$heading-4-font-size: functions.rem(20px);
$heading-5-font-size: functions.rem(18px);
$heading-6-font-size: functions.rem(16px);

// Breakpoints
$breakpoint-phone: 480px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;
$breakpoint-desktop: 1280px;
